*{
     -fx-main-color: #400090;
}
.main-controller-button, .button#refresh {
     -fx-background-color: -fx-main-color;
     -fx-text-fill: white;
     -fx-background-radius: 0%;
     -fx-border-width: 0 0 0 3;
     -fx-border-color: transparent;
}

.main-controller-button:hover, .main-controller-button:selected{
     -fx-background-color: #1a006c;
}

.main-controller-right-button:hover, .main-controller-right-button:selected{
     -fx-border-color: #160c33;
}

.close-button:hover {
     -fx-background-color: #b20000;
}

.no-radius {
     -fx-background-radius: 0%;
}

.default-progress-bar , .default-progress-indicator {
     -fx-accent: -fx-main-color;
}
.default-progress-indicator {
     -fx-font-size: 0.8em;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
     -fx-background-color: linear-gradient(#6b00ff 0%, #6400e0 25%, #4100c3 75%, #400090 100%);
     -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
     -fx-background-color: white;
}

.list-cell:filled:hover {
     -fx-background-color: #6c00f9;
     -fx-text-fill: white;
}

.choice-box .menu-item:focused {
     -fx-background-color: #6c00f9 ;
     -fx-text-fill: white;
}

.ue-choice-box .context-menu {
     -fx-background-color: linear-gradient(#6b00ff 0%, #6400e0 25%, #4100c3 75%, #400090 100%);
     -fx-text-fill: white;
}

.ue-choice-box {
     -fx-background-color: -fx-main-color;
     -fx-background-radius: 0%;
}

.ue-choice-box .label{
     -fx-text-fill: white;
}

.history-data-to-core-process {
     -fx-progress-color: #ffffff;
}

.history-button {
     -fx-background-color: -fx-main-color;
     -fx-background-radius: 0%;
     -fx-border-color: transparent;
}

.no-opacity {
    -fx-opacity: 1.0;
}
