.main-controller-button {-fx-background-color: transparent;}

.main-controller-button:hover, .main-controller-button:selected {-fx-background-color: #180063;}

.close-button:hover {-fx-background-color: #b20000;}

.no-radius {
     -fx-background-radius: 0%;
}